
body {
    background: black;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    overflow: scroll;
}

.head {
    width: 100vw;
    height: 122vw;
    background: url(img/head.jpg);
    background-size: 100%;
}
.banner {
    width: 100vw;
    height: 420px;
    background: green;
    background-size: 100%;
    overflow: hidden;

}

.banner video {
    width: 100vw;
    /* height: 400px; */
    background-size: 100%;
    position: relative;
    top: -180px;
}


.feed {
    width: 100vw;
    height: 805vw;
    background: url(img/feed.jpg);
    background-size: 100%;

}




.feed_fake {
    width: 100vw;
    height: 300vw;
    position: fixed;
    top: 121vw;
    pointer-events: none;
    background: url(img/feed.jpg);
    background-size: 100%;

}

.hidden {
    opacity: 0 !important;
}


.bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 13.333333333vw;
    background: url(img/bar.jpg);
    background-size: 100%;
    z-index: 99999999;
}