
body {
    background: black;
}

.container {
    height: 640px;
    width: 360px;
    position: fixed;
    left: 0;
    top: 0;
    overflow: scroll;
}

.head {
    width: 360px;
    height: 360px;
    background: red;
}
.banner {
    width: 360px;
    height: 360px;
    background: green;
}
.feed {
    width: 360px;
    height: 900px;
    background: blue;
}

/* 
.feed_fake {
    height: 300px;
    position: absolute;
    bottom: 100px;
    background: purple;
    opacity: 50%;
} */