.container {
    width: 360px;
    height: 640px;
    background: gray;
    overflow: scroll;
    position: fixed;
}

.head {
    width: 360px;
    height: 360px;
    background: red;
}
.banner {
    width: 360px;
    height: 360px;
    background: green;
}
.feed {
    width: 360px;
    height: 9900px;
    background: blue;
}

/* 
.feed_fake {
    height: 300px;
    position: absolute;
    bottom: 100px;
    background: purple;
    opacity: 50%;
} */